.container-width{
	    padding: 0 15%;
}

.primary{
	color: $primary;
}

.secondary{
	color: $secondary;
}

.light{
	color: $light;
}

.heading{
	text-align: center;
    padding: 80px 0px 110px;
    font-size: 35px;
    font-weight: normal;
    background: url(../images/aboutbg.png) no-repeat;
    background-position: 306px 65px;
    background-size: 183px 78px;
}


